<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no" />
    <title>Test Map</title>
    <link rel="stylesheet" href="/libs/arcgis_js_api/esri/css/main.css" />
    <script src="/libs/arcgis_js_api/dojo/dojo.js"></script>

    <script src="../libs/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../libs/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="../libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style>
        html,
        body,
        #viewDiv {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    </style>
    <script src="../src/identify_graphic/identify_graphic.js"></script>
</head>

<body class="claro">
    <div id="viewDiv"></div>
</body>

</html>