<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no" />
  <title>Test Map</title>
  <link rel="stylesheet" href="https://localhost/arcgis_js_api/library/4.4/dijit/themes/claro/claro.css" />
    <link rel="stylesheet" href="https://localhost/arcgis_js_api/library/4.4/esri/css/main.css" />
    <script src="https://localhost/arcgis_js_api/library/4.4/dojo/dojo.js"></script>
  <style>
    html,
    body,
    #viewDiv {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
  </style>
  <script src="../src/tdt2/index.js"></script>
  
</head>

<body class="claro">
  <div id="viewDiv"></div>
</body>

</html>